<ion-content fullscreen>
        <section class="welcome_box  sign_up2">
            <div class="login_banner">
                <img src="assets/otp.png" alt="otp">
            </div>
            <div class="login_form">
                <div class="welcome_cont">
                    <h4> Verification </h4>
                    <p>Edit 4 digit number that sent to</p>
                    <p>+62541458765</p>
                </div>
                <div class="verify_cod">
                    <ul>
                        <li>
                            <input type="text" class="form-control" placeholder="3">
                        </li>
                        <li>
                            <input type="text" class="form-control" placeholder="2">
                        </li>
                        <li>
                            <input type="text" class="form-control" placeholder="1">
                        </li>
                        <li>
                            <input type="text" class="form-control" placeholder="0">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="login_box">
                <!-- <button type="button" class="btn_login" name="button" (click)="goToFinish()">Continue</button> -->
                <ion-button class="btn btn_pink button-positive" color="favorite" (click)="goToFinish()">Continue</ion-button>
            </div>
            <div class="resend_code">
                <p> Resend code in 0.30 </p>
            </div>
        </section>
        </ion-content>
        