
.welcome_slide {
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.welcome_cont {
  text-align: center;
}
.welcome_cont h4 {
    font-size: 1.5rem;
    text-transform: capitalize;
    margin-bottom: 0.5em;
    color: #0c0c0c;
    width: 80%;
    line-height: 1.3;
    margin: 0.8em auto;
}
.welcome_cont p {
    font-size: 0.8rem;
    text-transform: capitalize;
    margin-bottom: 0.5em;
    color: #b2b2b2;
    width: 76%;
    margin: 0 auto;
    line-height: 1.6;
}

.welcome_cont {
    height: 35vh;
}
.login_box {
    height: 15vh;
}

section.welcome_box .login_box {
    width: 80%;
    margin: 0 auto;
}
.start_order {
width: 50%;
margin: 1em auto;
}



.swiper-pagination {
    position: absolute;
    text-align: center;
    -webkit-transition: 300msopacity;
    -o-transition: 300msopacity;
    transition: 300msopacity;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    z-index: 10;
    }
    .swiper-pagination.swiper-pagination-hidden {
    opacity: 0;
    }
    /* Common Styles */
    .swiper-pagination-fraction,
    .swiper-pagination-custom,
    .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 10px;
    left: 0;
    width: 100%;
    }
    /* Bullets */
    .swiper-pagination-bullets-dynamic {
    overflow: hidden;
    font-size: 0;
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    position: relative;
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-main {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-prev {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-prev-prev {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-next {
    -webkit-transform: scale(0.66);
    -ms-transform: scale(0.66);
    transform: scale(0.66);
    }
    .swiper-pagination-bullets-dynamic.swiper-pagination-bullet-active-next-next {
    -webkit-transform: scale(0.33);
    -ms-transform: scale(0.33);
    transform: scale(0.33);
    }
    .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
    background: #222;
    opacity: 0.2;
    }
    button.swiper-pagination-bullet {
    border: none;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    }
    .swiper-pagination-clickable.swiper-pagination-bullet {
    cursor: pointer;
    }
    .swiper-pagination-bullet-active {
    opacity: 1;
    background: #ef5a28;
    }
    .swiper-container-vertical > .swiper-pagination-bullets {
    right: 10px;
    top: 50%;
    -webkit-transform: translate3d(0px, -50%, 0);
    transform: translate3d(0px, -50%, 0);
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullet {
    margin: 6px0;
    display: block;
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 8px;
    }
    .swiper-container-vertical > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    display: inline-block;
    -webkit-transition: 200mstop, 200ms -webkit-transform;
    transition: 200mstop, 200ms -webkit-transform;
    -o-transition: 200mstransform, 200mstop;
    transition: 200mstransform, 200mstop;
    transition: 200mstransform, 200mstop, 200ms -webkit-transform;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullet {
    margin: 04px;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    -webkit-transition: 200msleft, 200ms -webkit-transform;
    transition: 200msleft, 200ms -webkit-transform;
    -o-transition: 200mstransform, 200msleft;
    transition: 200mstransform, 200msleft;
    transition: 200mstransform, 200msleft, 200ms -webkit-transform;
    }
    .swiper-container-horizontal.swiper-container-rtl > .swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
    -webkit-transition: 200msright, 200ms -webkit-transform;
    transition: 200msright, 200ms -webkit-transform;
    -o-transition: 200mstransform, 200msright;
    transition: 200mstransform, 200msright;
    transition: 200mstransform, 200msright, 200ms -webkit-transform;
    }