<ion-content fullscreen overflow-scroll="true">
    <section class="welcome_box login_sec">
      <!-- <div class="slide_comn slide_1">
        <img src="assets/slide01-02.png" alt="">
      </div>
      <div class="slide_comn slide_2">
          <img src="assets/slide01-03.png" alt="">
        </div>
        <div class="slide_comn slide_3">
            <img src="assets/slide01-04.png" alt="">
          </div>
          <div class="slide_comn slide_4">
              <img src="assets/slide01-05.png" alt="">
            </div>
            <div class="slide_comn slide_5">
                <img src="assets/slide01-06.png" alt="">
              </div> -->
        <!-- <div class="login_banner">
          <img src="assets/slide01-11.png" class="img-fluid" alt="">
        </div> -->
        <!-- <div _ngcontent-vqc-c1="" class="login_banner" style="
    background: url(&quot;http://www.pixel-industry.com/html/royal-plate/img/page-titles/page-title-2.jpg&quot;);
    background-size: cover;
    margin-bottom: 2em;
"></div> -->
        <div  class="login_banner">
          <img src="assets/login_logo.png" class="img-fluid" alt="">
        </div>
        <div class="login_form">
         <form>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Email or username">
          </div>
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Password">
          </div>
          <div class="form-group text-center">
              <ion-button class="btn btn_green button-positive" color="favorite" (click)="goToLogin()">Login</ion-button>
          <!-- <button type="button" class="btn btn_green" name="button">Log In</button> -->
          <p class="form_info">Forgot your login or password? <a>Reset!</a></p>
          </div>
         </form>
        </div>
        <div class="social_link">
        <p>Or login with</p>
        <div class="social_icons">
         <h6 class="blue"> <span> <img src="assets/facebook.png" class="img-fluid" alt=""> </span> </h6>
         <h6> <span> <img src="assets/search.png" class="img-fluid" alt="" (click)="goToSignup()"> </span></h6>
         <h6> <span> <img src="assets/instagram.png" class="img-fluid" alt="" (click)="goToSignup()"> </span></h6>
        </div>
      </div>
      <div class="text-center">
      <p class="form_info">Don't have an account?<a (click)="goToSignup()">Signup!</a></p>
    </div>
      </section>
</ion-content>
