.cart_cont h3 {
    text-transform: capitalize;
    font-size: 1.2em;
}
.cart_cont p {
    line-height: 1.5;
    font-size: 0.7rem;
}

.cart_cont h3 {
    margin-bottom: 0;
}
.box_margin {
    margin: 0 1em;
}
.request_cont p {
    font-size:0.6rem;
    color: #929292;
    line-height: 1.5;
}
.total_price h5 {
    font-size: 1.5rem;
    margin: 0;
}
.item_amnt {
    display: flex;
    justify-content: space-between;
    margin: 2em 1em;
    align-items: center;
}
.cart.box_margin {
    margin-bottom: 1em;
}
ion-label {
    font-size: 0.9rem !important;
}

.count_box p {
    font-size: 1.3em;
    margin: 0 0.6em;
    border: 1px solid #20ce88;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.count_box ion-icon {
    font-size: 1.7rem;
}
.count_box {
    display: flex;
    align-items: center;
}
ion-list .header_home {
    margin-left: 0em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.header_home h6 {
    color: #ddd;
    text-transform: capitalize;
    font-size:0.8em;
}
.item-inner {
    border: none !important;
}