<ion-content fullscreen scroll-y="false">
        <section class="welcome_box login_sec sign_up">
                <div class="login_banner">
                <img src="assets/3.jpg" alt="">
                </div>
                <div class="login_form v_7">
                 <form>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username">
                  </div>
              <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone number">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group text-center">
                  <ion-button class="btn btn_green button-positive" color="favorite" (click)="goToVerify()">sign up</ion-button>
                  <!-- <button type="button" class="btn btn_green" name="button" (click)="goToVerify()">Continue</button> -->
                  <p class="form_info">Already have account? <a>sign in</a></p>
                  </div>
                 </form>
                </div>
              </section>
</ion-content>
