<ion-content fullscreen>
        <section class="welcome_box login_sec sign_up">
                <div class="login_banner">
                <h5>Sign up</h5>
                </div>
                <div class="login_form v_7">
                 <form>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username">
                  </div>
              <div class="form-group">
                      <input type="text" class="form-control" placeholder="Phone number">
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group text-center">
                  <button type="button" class="btn_login" name="button" (click)="goToVerify()">Continue</button>
                  <p class="form_info">Already have account? <a>sign in</a></p>
                  </div>
                 </form>
                </div>
              </section>
</ion-content>