<ion-content fullscreen>
<section class="welcome_box sign_up3">
        <div class="login_banner">
            <div class="profile_page">
              <img src="img/profile.jpg" alt="profile">
            </div>
        </div>
        <div class="login_form v_7">
           <form>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full name">
                </div>
            <div class="form-group">
                    <input type="text" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Area">
                </div>
                <div class="form-group text-center">
                <button type="button" class="btn_login" name="button">Finish</button>
              </div>
             </form>
  
        </div>
  
      </section>
    </ion-content>