

body, html {
    font-family: 'Montserrat', sans-serif;
    color: #111;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background: #fff;
}
*, ::after, ::before {
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
}

p {
	font-size:1rem;
	color: #1f1f1f;
}
input.form-control {
    font-family: 'Montserrat', sans-serif;
    height: 50px;
    background: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 0px;
    padding: 0 1em;
    font-size: 1rem;
    /* text-transform: capitalize; */
    width: 100%;
    /* margin: 0 auto; */
    display: block;
    box-sizing: border-box;
}
input.form-control:focus, button {
  box-shadow: none;
  outline: 0;
}
.form-group {
    margin-bottom: 1em;
}
.text-center {
	text-align:center;
}
p.form_info {
    font-size: 1rem;
    /* text-transform: capitalize; */
    color: #949494;
}
p.form_info a {
    color: #1f1f1f;
    font-weight:bold;
}
.blue {
	color:#1877f2;
}
.btn_login {
    background: #40c15a;
    color: #fff;
    border-radius: 3px;
    font-size: 1em;
    border: 1px solid #40c15a;
    width: 80%;
    padding: 0.9em;
    margin: 0 auto;
    display: table;
    height: 50px;
}

.v_7 {
  height: 70vh;
}

.login_banner {
    height: 44vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_form form {
    width: 85%;
    margin: 0 auto;
}

.btn {
    color: #fff;
    border-radius: 50px;
    font-size: 0.8em;
    width: 100%;
    text-transform: uppercase;
    /* padding: 0.6em; */
    margin: 0 auto;
    display: table;
    height: 3.5em;
    overflow: hidden;
}
.btn_orange {
    background: #ef5a28;
    border: 1px solid #ef5a28;
}
.btn_blue {
    background: #3d9be9;
    border: 1px solid #3d9be9;
}
.btn_green {
    background: #20ce88;
    border: 1px solid #20ce88;

}
.btn_yellow {
    background: #fed12e;
    border: 1px solid #fed12e;
}
.btn_pink {
  background: #ca67ff;
  border: 1px solid #ca67ff;
}
.profile_small img {
    width: 100%;
    height: 100%;
}
.profile_small {
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}


.header_home h5 {
    FONT-WEIGHT: 800;
    font-size:1.35em;
    text-transform: capitalize;
    margin-bottom: 1em;
    margin-top: 1em;
}
