
<ion-content fullscreen padding overflow-scroll="true">
<section class="home_box">
    <!-- home header -->
    <div class="home_header">
      <div class="search_box">
        <h6>  <span> <img src="assets/location-pin.png" alt=""> </span> new your city..</h6>
      </div>
      <div class="profile_small">
        <img src="assets/profile_home.png" alt="">
      </div>
    </div>
    <!-- search box -->
    <div class="search_food">
      <input type="text" class="form-control" placeholder="What are you craving for?">
      <span> <img src="assets/search_addr.png" alt=""> </span>
    </div>
    <!-- discover foods -->
    <div class="discover_places">
      <div class="header_home">
        <h5>discover new places</h5>
      </div>
      <ion-slides loop="true">
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/img-7.jpg" alt="">
            </div>
            <h6>andy & cindy's dinner</h6>
            <h5>87 rostford circle aps</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/img-3.jpg" alt="">
            </div>
            <h6>andy & cindy's dinner</h6>
            <h5>87 rostford circle aps</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/img-7.jpg" alt="">
            </div>
            <h6>andy & cindy's dinner</h6>
            <h5>87 rostford circle aps</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/img-7.jpg" alt="">
            </div>
            <h6>andy & cindy's dinner</h6>
            <h5>87 rostford circle aps</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/img-3.jpg" alt="">
            </div>
            <h6>andy & cindy's dinner</h6>
            <h5>87 rostford circle aps</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/img-7.jpg" alt="">
            </div>
            <h6>andy & cindy's dinner</h6>
            <h5>87 rostford circle aps</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>


    <!-- top cateogry box -->
    <div class="top_category">
      <div class="header_home">
        <h5>Top Categories</h5>
      </div>
      <div class="cateogry_box">
        <div class="cateogry_list">
            <ion-slides slidesPerView="1.5" spaceBetween="10"  loop=true>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/burger.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>burgers</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/pizza-slice.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>pizza</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/burger.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>burgers</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/pizza-slice.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>pizza</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/burger.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>burgers</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/pizza-slice.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>pizza</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/burger.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>burgers</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/pizza-slice.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>pizza</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/burger.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>burgers</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/pizza-slice.png " alt="">
                        </div>
                        <div class="cate_title">
                          <h5>pizza</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
            </ion-slides>
          
        </div>
      </div>
    </div>
    <!-- again order section -->
    <!-- <div class="order_again">
      <div class="header_home">
        <h5>order again</h5>
      </div>
      <div class="order_list">
        <ul>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- recommended section -->
    <div class="recommend">
        <div class="header_home">
            <h5> Recommended </h5>
          </div>
      <div class="recom_box">
        <div class="recomm_left">
            <div class="order_box">
                <div class="order_view">
                  <img src="assets/img-7.jpg" alt="">
                </div>
                <div class="order_name">
                  <h5>Salmon Fish Steaks</h5>
                  <h6>Net wt.500gms</h6>
                  <p>$150</p>
                </div>
              </div>
        </div>
        <div class="recomm_right">
           <div class="add_icon" (click)="goToItems()">
            <ion-icon class="ion_plus" name="add"></ion-icon>
           </div>
        </div>
      </div>
    </div>
    <!-- static menu -->
    <div class="fixed_menu">
      <div class="menu_1 menu_list active">
        <!-- <img src="assets/home.png" alt=""> -->
        <ion-icon name="home"></ion-icon>
        <p>home</p>
      </div>
      <div class="menu_2 menu_list">
          <!-- <img src="assets/television.png" alt=""> -->
          <ion-icon name="radio"></ion-icon>
          <p>recipe</p>
        </div>
        <div class="menu_3 menu_list">
            <!-- <img src="assets/heart.png" alt=""> -->
            <ion-icon name="heart"></ion-icon>
            <p>favourite</p>
          </div>
    </div>
  </section>
</ion-content>
