
<ion-content fullscreen padding overflow-scroll="true">
<section class="home_box">

    <!-- home header -->
    <ion-app>
      <ion-menu side="start">
        <ion-header>
          <ion-toolbar translucent>
            <ion-title>Menu</ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-list>
            <ion-item>
              <ion-icon name="home" slot="start"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="person" slot="start"></ion-icon>
              <ion-label>Profile</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="chatbubbles" slot="start"></ion-icon>
              <ion-label>Messages</ion-label>
            </ion-item>
            <ion-item>
              <ion-icon name="settings" slot="start"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-menu>
      <div class="ion_main_head" main>
        <ion-header>
            <div class="search_box">
                <h6>  <span> <img src="assets/location-pin.png" alt=""> </span> Velachery..</h6>
              </div>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button>
                  <div class="profile_small">
                      <img src="assets/profile_home.png" alt="">
                    </div>
              </ion-menu-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
      </div>
    </ion-app>
    <!-- discover foods -->
    <div class="discover_places">
      <div class="header_home">
        <h5>Our Specials</h5>
      </div>
      <ion-slides loop="true">
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <img src="assets/surprise.png" alt="">
            </div>
            <h6>Magic Menu</h6>
            <h5 class="text_overflow">Surprise dish from our Surprise chef</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
        <ion-slide>
          <div class="food_box">
            <div class="food_show">
              <!-- <img height="42" width="42" src="assets/bowl.jpg" alt=""> -->
              <img src="assets/img-7.jpg" alt="">
            </div>
            <h6>Super Bowl</h6>
            <h5 class="text_overflow">Meals in bowls are trending</h5>
            <div class="rating_box">
              <h6>4.8 <span> (2.8 ratings) </span> </h6>
              <h5>free delivery</h5>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>


    <!-- top cateogry box -->
    <div class="top_category">
      <div class="header_home">
        <h5>Top Categories</h5>
      </div>
      <div class="cateogry_box">
        <div class="cateogry_list">
            <ion-slides slidesPerView="1.5" spaceBetween="10"  loop=true>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/icon.png" alt="">
                        </div>
                        <div class="cate_title">
                          <h5>Breakfast</h5>
                          <h6>12 items</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                          <img src="assets/icon_128.png" alt="">
                        </div>
                        <div class="cate_title">
                          <h5>Lunch</h5>
                          <h6>14 items</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                            <img src="assets/dinicon.png" alt="">
                        </div>
                        <div class="cate_title">
                          <h5>Dinner</h5>
                          <h6>19 items</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                            <img src="assets/comboicon.png" alt="">
                        </div>
                        <div class="cate_title">
                          <h5>Combos</h5>
                          <h6>8 items</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                            <img src="assets/bowlicon.png" alt="">
                        </div>
                        <div class="cate_title">
                          <h5>Bowls</h5>
                          <h6>15 items</h6>
                        </div>
                      </div>
                </ion-slide>
                <ion-slide>
                    <div class="cateogry_view">
                        <div class="cat_shw_img">
                            <img src="assets/icon.png" alt="">
                        </div>
                        <div class="cate_title">
                          <h5>Salads</h5>
                          <h6>145 places</h6>
                        </div>
                      </div>
                </ion-slide>
            </ion-slides>
          
        </div>
      </div>
    </div>
    <!-- again order section -->
    <!-- <div class="order_again">
      <div class="header_home">
        <h5>order again</h5>
      </div>
      <div class="order_list">
        <ul>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
          <li>
            <div class="order_box">
              <div class="order_view">
                <img src="assets/menu-thumb-2.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>chicken drumstick</h5>
                <h6>pieces 5-7</h6>
                <p>ordered 2 days ago</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- recommended section -->
    <div class="recommend">
        <div class="header_home">
            <h5> Recommended </h5>
          </div>
      <div class="recom_box">
        <div class="recomm_left">
            <div class="order_box">
                <div class="order_view">
                  <img src="assets/img-7.jpg" alt="">
                </div>
                <div class="order_name">
                  <h5>Sambar Idly</h5>
                  <h6>Dipped with home made sambar</h6>
                  <p>35</p>
                </div>
            </div>
            <div class="order_box">
                <div class="order_view">
                  <img src="assets/img-3.jpg" alt="">
                </div>
                <div class="order_name">
                  <h5>Onion Dosai</h5>
                  <h6>Stuffed with fine chopped onions</h6>
                  <p>25</p>
                </div>
            </div>
            <div class="order_box">
                <div class="order_view">
                  <img src="assets/img-7.jpg" alt="">
                </div>
                <div class="order_name">
                  <h5>Poori</h5>
                  <h6>Served with potato masala</h6>
                  <p>30</p>
                </div>
            </div>
        </div>
        <div class="recomm_right">
           <div class="add_icon" (click)="goToItems()">
            <ion-icon class="ion_plus" name="add"></ion-icon>
           </div>
        </div>
      </div>
    </div>
    <!-- static menu -->
    <div class="fixed_menu">
      <div class="menu_1 menu_list active">
        <!-- <img src="assets/home.png" alt=""> -->
        <ion-icon name="home"></ion-icon>
        <p>home</p>
      </div>
      <div class="menu_2 menu_list">
          <!-- <img src="assets/television.png" alt=""> -->
          <ion-icon name="radio"></ion-icon>
          <p>recipe</p>
        </div>
        <div class="menu_3 menu_list">
            <!-- <img src="assets/heart.png" alt=""> -->
            <ion-icon name="heart"></ion-icon>
            <p>favourite</p>
          </div>
    </div>
  </section>
</ion-content>
