<ion-content fullscreen padding overflow-scroll="true">
  <section class="item_sec">
    <div class="item_head">
      <div class="item_show">
        <img src="assets/menu-thumb-2.jpg" alt="">
      </div>
      <div class="item_name">
         <h6>packaging</h6> 
         <h5>tampar proof</h5>
      </div>
    </div>
    <div class="item_head">
      <div class="item_show">
        <img src="assets/menu-thumb-2.jpg" alt="">
      </div>
      <div class="item_name">
         <h6>packaging</h6> 
         <h5>tampar proof</h5>
      </div>
    </div>
    <div class="item_head">
      <div class="item_show">
        <img src="assets/menu-thumb-2.jpg" alt="">
      </div>
      <div class="item_name">
         <h6>packaging</h6> 
         <h5>tampar proof</h5>
      </div>
    </div>
    <div class="item_head">
      <div class="item_show">
        <img src="assets/menu-thumb-2.jpg" alt="">
      </div>
      <div class="item_name">
         <h6>packaging</h6> 
         <h5>tampar proof</h5>
      </div>
    </div>
    <div class="item_head">
      <div class="item_show">
        <img src="assets/menu-thumb-2.jpg" alt="">
      </div>
      <div class="item_name">
         <h6>packaging</h6> 
         <h5>tampar proof</h5>
      </div>
    </div>
  </section>
  <!-- types of steak -->
  <section class="types_seak">
        <!-- recommended section -->
        <div class="recommend">
          <div class="header_home">
              <h5> 16 types of steak </h5>
            </div>
        <div class="recom_box">
          <div class="recomm_left">
              <div class="order_box">
                  <div class="order_view">
                    <img src="assets/img-7.jpg" alt="">
                  </div>
                  <div class="order_name">
                    <h5>Salmon Fish Steaks</h5>
                    <h6>Net wt.500gms</h6>
                    <p>$150</p>
                  </div>
                </div>
          </div>
          <div class="recomm_right">
             <div class="add_icon">
              <ion-icon class="ion_plus" name="add"></ion-icon>
             </div>
          </div>
        </div>
        <div class="recom_box">
          <div class="recomm_left">
              <div class="order_box">
                  <div class="order_view">
                    <img src="assets/img-7.jpg" alt="">
                  </div>
                  <div class="order_name">
                    <h5>Salmon Fish Steaks</h5>
                    <h6>Net wt.500gms</h6>
                    <p>$150</p>
                  </div>
                </div>
          </div>
          <div class="recomm_right">
             <div class="add_icon">
              <ion-icon class="ion_plus" name="add"></ion-icon>
             </div>
          </div>
        </div>
      </div>
  </section>
  <!-- popula items -->
  <section class="item_sec items_popular">
    <div class="item_head">
      <div class="item_show">
        <img src="assets/menu-thumb-2.jpg" alt="">
      </div>
      <div class="item_name">
         <h4>popular recipes</h4> 
         <h5>7 recipes</h5>
      </div>
    </div>
  </section>
 <!-- video box -->
 <section class="video_box">
  <div class="video_slide">
    <div class="video_flip">
      <img src="assets/6.png" alt="">
      <div class="video_cont_head">
        <h5>chicken salad</h5>
        <h6>05:30</h6>
      </div>
    </div>
    <div class="video_flip">
      <img src="assets/6.png" alt="">
      <div class="video_cont_head">
        <h5>chicken salad</h5>
        <h6>05:30</h6>
      </div>
    </div>
  </div>
 </section>
   <!-- types of steak -->
   <section class="types_seak">
    <!-- recommended section -->
    <div class="recommend">
    <div class="recom_box">
      <div class="recomm_left">
          <div class="order_box">
              <div class="order_view">
                <img src="assets/img-7.jpg" alt="">
              </div>
              <div class="order_name">
                <h5>Salmon Fish Steaks</h5>
                <h6>Net wt.500gms</h6>
                <p>$150</p>
              </div>
            </div>
      </div>
      <div class="recomm_right">
         <div class="add_icon">
          <ion-icon class="ion_plus" name="add"></ion-icon>
         </div>
      </div>
    </div>
  </div>
</section>
</ion-content>